<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms name=".ASPXFORMSDEMO" loginUrl="~/Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SMTPHOST" value="smtp.gmail.com"></add>
    <add key="SMTPPORT" value="587"></add>
    <add key="SMTPUSER" value="venkateshk.it99@gmail.com"></add>
    <add key="SMTPPWD" value="rymjwbfgepxfjagg"></add>
  </appSettings>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=DESKTOP-7U64QKI;Integrated Security=true;Initial Catalog=CRM"/>
  </connectionStrings>
</configuration>